*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

:root {
    --color-primary: #303a42;
    --color-secondary: #C9B194;
    --color-accent: #643843;
    --color-background: #3E3232;
    --color-text: #FFF2D7;
    --color-border: black;
}

html, body {
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    color: var(--color-text);
}

.box {
    background-color: var(--color-primary);
    border-radius: 1em;
    border: solid 2px black;
    color: var(--color-text);
    padding: 1em;
}

#container {
    background-color: var(--color-background);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

#content {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    gap: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 5em;
    height: 4em;
    gap: 1em;
    padding: 2em !important;
}

aside {
    display: flex;
    flex-direction: column;
    flex: 0 0 25em;
    justify-content: space-between;
    gap: 0.5em;
    padding: 1em;
    align-items: stretch;
}

.aside-bottom {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1em;
}

.order-items {
    flex: 0 0 2em;
    height: 2em;
}

#order-list {
    text-align: left;
}

.print {
    background-color: var(--color-accent);
    border-radius: 1em;
    /*border: solid 2px var(--color-border);*/
    padding: 1em 2em;
    color: var(--color-text);
    width: 22em;
    text-align: center;
    align-self: center;
}
.btn-add {
    background-color: var(--color-accent);
    border-radius: 50%;
    color: var(--color-text);
    text-align: center;
    align-self: center;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.2em;
}

.hidden {
    display: none !important;
}

main {
    flex: 1 1 100%;
    padding: 1em;
}

#screen-table {
    position: relative;
    /*background: url('/img/cafe_floor_plan.png') no-repeat center center;
    background-size: contain;*/
/*    width: 100%;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 3em;
    gap: 5em;
    justify-content: flex-start;
    align-items: start;
    overflow-y: auto;
    scrollbar-color: var(--color-secondary) var(--color-accent);
    scrollbar-width: thin;
    width: 100%;
    max-height: calc(100vh - (1em + 1em + 1em + 1em + 1em + 1em + 4em));
}

.logo {
    flex: 0 1 auto;
    border-radius: 1em;
    /*border: 2px solid var(--color-border);*/
    padding: 1px 25px;
    background-color: var(--color-accent);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin-left: auto;
}

.btn-table {
    --size: 10%;

    border-radius: 50%;
    border: 3px solid var(--color-secondary);
    background-color: transparent;
    position: absolute;
    width: var(--size);
    height: calc(var(--size) * (1019/609));

}

.product-box {
    width: 150px;
    height: 195px;
    background-color: var(--color-secondary);
    border-radius: 1em;
    border: solid 2px black;
    /*padding: 1em;*/
    color: var(--color-accent);
    align-content: center;
    justify-items: center;
    text-align: center;
}

#table0 {
    top: 12%;
    left: 41%;
}

#table1 {
    top: 57%;
    left: 21%;
}

#table2 {
    top: 73%;
    left: 32%;
}

#table3 {
    top: 49%;
    left: 47%;
}

#table4 {
    top: 31%;
    left: 59%;
}

#table5 {
    top: 21%;
    left: 70%;
}
