*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

:root {
    --color-primary: #303a42;
    --color-secondary: #FFF2D7;
    --color-accent: #643843;
    --color-background: #3E3232;
    --color-text: #FFF2D7;
    --color-border: black;
}

/*#3E3232 #503C3C #7E6363 #A87C7C*/
/*#FFF2D7 #643843 #303a42*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    color: var(--color-text);
}

.box {
    background-color: var(--color-primary);
    border-radius: 1em;
    border: solid 2px black;
    color: var(--color-text);
    padding: 1em;
}

#container {
    background-color: var(--color-background);
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

#content {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    gap: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 5em;
    height: 4em;
    gap: 1em;
    padding: 2em !important;
}

aside {
    display: flex;
    flex-direction: column;
    flex: 0 0 25em;
    justify-content: space-between;
    gap: 0.5em;
    padding: 1em;
    align-items: center;
}

aside-bottom {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.order-items {
    flex: 0 0 2em;
    height: 2em;
}

.print {
    background-color: var(--color-accent);
    border-radius: 1em;
    border: solid 2px black;
    padding: 1em 2em;
    color: var(--color-text);
    width: 22em;
}

.hidden {
    display: none !important;
}

main {
    position: relative;
    flex: 1 1 100%;
    padding: 1em;
}

#screen-table {
    background: url('/img/cafe_floor_plan.png') no-repeat 5% center;
    background-size: contain;
    width: 100%;
    height: 500px;
}

#screen-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 3em;
    gap: 5em;
    justify-content: space-between;
    align-items: stretch;
    overflow-y: auto;
    scrollbar-color: var(--color-secondary) var(--color-accent);
    scrollbar-width: thin;
    width: 100%;
    height: 500px;
}

.logo {
    flex: 0 1 auto;
    border-radius: 1em;
    border: 2px solid var(--color-border);
    padding: 1px 25px;
    background-color: var(--color-accent);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin-left: auto;
}

.btn-table {
    border-radius: 50%;
    border: 1px solid red;
    background-color: transparent;
    position: absolute;
    width: 100px;
    height: 100px;
}

#table0 {
    top: 19%;
    left: 35%;
}

#table1 {
    top: 55%;
    left: 18%;
}

#table2 {
    top: 68%;
    left: 27%;
}

#table3 {
    top: 46%;
    left: 38%;
}

#table4 {
    top: 31%;
    left: 47%;
}

#table5 {
    top: 21%;
    left: 58%;
}
